<h1>Welcome to our Garage</h1>

<ul>
  <% @cars.each do |car| %>
    <li>
      <%= link_to car_path(car), class: "category-link" do %>
        <%= car.brand %>
      <% end %>
    </li>
  <% end %>
</ul>
